<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title> PHỤ KIỆN CÔNG NGHỆ </title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<!--<link type="text/css" rel="stylesheet" href="../public/css/bootstrap.min.css"/>-->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> 9999999999</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> ttt_team@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 227 Nguyễn Văn Cừ, Phường 4, Quận 5</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="login"><i class="fa fa-dollar"></i> Đăng nhập </a></li>
						<li><a href="register"><i class="fa fa-user-o"></i> Đăng ký</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/" class="logo">
									<img src="img/logo.png" alt="Logo electro">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Tất cả</option>
										<option value="Tai%nghe">Tai nghe</option>
										<option value="Bàn%phím">Bàn phím</option>
                                        <option value="Chuột">Chuột</option>
										<option value="Loa">Loa</option>
									</select>
									<input class="input" placeholder="Nhập từ khóa">
									<button class="search-btn" type="submit">Tìm kiếm</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
                            <div class="header-ctn">
                                <!-- Cart -->
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        <i class="fa fa-shopping-cart fa-lg"></i>
                                        <p>Giỏ hàng</p>
                                        <div id="cart-quantity" class="qty">3</div>
                                    </a>
                                </div>
                                <!-- End Cart -->

                                <!-- Account -->
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-user-o account-icon fa-lg"></i>
                                        <p>Tài khoản</p>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Thông tin tài khoản<br></a>
                                        <a class="dropdown-item" href="#">Đổi mật khẩu<br></a>
                                        <a class="dropdown-item" href="#">Đơn hàng của tôi<br></a>
                                    </div>
                                </div>
                            </div>
                        </div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <!-- CATEGORY -->
                        <li>
                            <button type="button" class="btn btn-secondary button-style">
                                <a href="/">Trang chủ</a>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-secondary button-style">
                                <a href="/store?count=12&page=1">Tất cả sản phẩm</a>
                            </button>
                        </li>
                        <!-- CATEGORY -->
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button-style" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <a>Loại sản phẩm</a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/store?category=Tai%20nghe">Tai nghe<br></a>
                                    <a class="dropdown-item" href="/store?category=Bàn%20phím">Bàn phím<br></a>
                                    <a class="dropdown-item" href="/store?category=Chuột">chuột<br></a>
                                    <a class="dropdown-item" href="/store?category=Loa">Loa<br></a>
                                </div>
                            </div>
                        </li>
                        <!-- MANUFACTURER -->
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button-style" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <a>Nhà sản xuất</a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/store?producer=Sony">Sony<br></a>
                                    <a class="dropdown-item" href="/store?producer=Samsung">Samsung<br></a>
                                    <a class="dropdown-item" href="/store?producer=Asus">Asus<br></a>
                                    <a class="dropdown-item" href="/store?producer=Razer">Razer<br></a>
                                    <a class="dropdown-item" href="/store?producer=Logitech">Logitech<br></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
		<!-- /NAVIGATION -->

        {{!-- BODY --}}
        {{{body}}}

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Đăng nhập để không bỏ lỡ những <strong>KHUYẾN MÃI</strong></p>
							<form>
								<input class="input" type="email" placeholder="Nhập địa chỉ Email của bạn">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Theo dõi </button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Shop phụ kiện áp dụng template Electro</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>999999999</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>ttt_team@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">CỬA HÀNG</h3>
								<ul class="footer-links">
									<li><a href="/">Trang chủ</a></li>
									<li><a href="/store">Tất cả sản phẩm</a></li>
									<li><a href="#">Giỏ hàng</a></li>
									<li><a href="#">Đơn hàng</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Thông tin</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								 <a target="_blank" href="https://www.templateshub.net/template/Electro-eCommerce-Website-Templates">Templates Hub</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		{{!-- <script src="https://kit.fontawesome.com/1b52b37c8b.js" crossorigin="anonymous"></script> --}}
		<script src="./assets/js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
